@page "{*path}"
@using DigitalPreservation.Common.Model
@model BrowseModel
@{
    ViewData["Title"] = "Browse the repository";
}

<div>
    <h1 class="display-4">Containers</h1>
    <ul>
        @foreach (var container in Model.Resource?.Containers ?? [])
        {
            <li><a href="/browse/@container.GetPathUnderRoot()">@container.ToString()</a></li>
        }
    </ul>
</div>