@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["section"] = "home";
}

<div>    
    <ul>
        <li><a asp-page="./Browse">Browse the repository</a></li>
        <li><a asp-page="./Status">View connectivity checks</a></li>
    </ul>
</div>