@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Containers</h1>
    @foreach (var container in Model.RepositoryRoot!.Containers!)
    {
        <p>@container.ToString()</p>
    }
</div>