@page
@model StatusModel
@{
    ViewData["Title"] = "Connectivity Checks";
}

<div>
    
    @foreach (var connectivityCheckResult in Model.ConnectivityChecks)
    {
        <div class="card" style="width: 30rem; margin-top: 4rem">
            <div class="card-body">
                <h5 class="card-title">@connectivityCheckResult.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@connectivityCheckResult.Success</h6>
                <p class="card-text">@connectivityCheckResult.Error</p>
            </div>
        </div>
    }


</div>