name: Build and Deploy IIIF Builder Services

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
      wait_services:
        required: false
        type: string
        default: 'false'
      target_env:
        required: true
        type: string
    secrets:
      slack_webhook:
        required: true       

permissions:
  id-token: write  # required for OIDC / AWS
  contents: read   # This is required for actions/checkout

jobs:

  # NOTE - This suits a matrix but we cannot use it here as we need to read environment ${{vars}} for matrix setup but it's not available
  deploy-storage:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_env }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ecr-retag
        name: retag image
        with:
          source-image: ${{ vars.ECR_PREFIX }}/dlip-pres-storage-api
          source-tag: ${{ inputs.image_tag }}
          target-tag: ${{ inputs.target_env }}
          iam-role: ${{ secrets.PUBLISH_IAM_ROLE }}
      - uses: ./.github/actions/ecs-bounce
        name: bounce service
        with:
          target-ecs-service: ${{ vars.STORAGE_SERVICE }}
          target-ecs-cluster: ${{ vars.CLUSTER_NAME }}
          wait-for-services: ${{ inputs.wait_services }}
          role-arn: ${{ secrets.DEPLOY_IAM_ROLE }}

  deploy-preservation:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_env }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ecr-retag
        name: retag image
        with:
          source-image: ${{ vars.ECR_PREFIX }}/dlip-pres-preservation-api
          source-tag: ${{ inputs.image_tag }}
          target-tag: ${{ inputs.target_env }}
          iam-role: ${{ secrets.PUBLISH_IAM_ROLE }}
      - uses: ./.github/actions/ecs-bounce
        name: bounce service
        with:
          target-ecs-service: ${{ vars.PRESERVATION_SERVICE }}
          target-ecs-cluster: ${{ vars.CLUSTER_NAME }}
          wait-for-services: ${{ inputs.wait_services }}
          role-arn: ${{ secrets.DEPLOY_IAM_ROLE }}